<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width: 30%;
      height: 790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>

<body>
<div id="demo" class="container my-background">
  <div class="my-heading">
    Filtrer les produits
  </div>
  <div class="my-sub-heading sub-heading-1">
    Par type de produits
  </div>
  <div class="btn-group-1">
    <button #buttonOne type="button" class="btn my-btn-outline btn-sm">Actions</button>
    <button type="button" class="btn my-btn-outline btn-sm">Obligations</button>
    <button type="button" class="btn my-btn-outline btn-sm">Monétaire</button>
  </div>
  <div class="my-sub-heading sub-heading-2">
    Par type de marché ou obligation
  </div>
  <div class="btn-group-2">
    <button type="button" class="btn my-btn-outline btn-sm">Marchés émergeants</button>
    <button type="button" class="btn my-btn-outline btn-sm">Marchés développés</button>
  </div>
  <div class="btn-group-3">
    <button type="button" class="btn my-btn-outline btn-sm" disabled>Obligations d'Etats</button>
    <button type="button" class="btn my-btn-outline btn-sm" disabled>Obligations entreprises</button>
  </div>
  <div class="my-sub-heading sub-heading-3">
    Par pays
  </div>
  <div class="btn-group-4">
    <button type="button" class="btn my-btn-outline btn-sm">Asie</button>
    <button type="button" class="btn my-btn-outline btn-sm">Europe</button>
    <button type="button" class="btn my-btn-outline btn-sm">Amériques Latine</button>
  </div>
  <div class="btn-group-5">
    <button type="button" class="btn my-btn-outline btn-sm">Amériques Latine</button>
    <button type="button" class="btn my-btn-outline btn-sm">Afrique, Moyen O.</button>
  </div>
  <div class="my-sub-heading sub-heading-4">
    Par durée
  </div>
  <div class="btn-group-6">
    <button type="button" class="btn my-btn-outline btn-sm">6 mois</button>
    <button type="button" class="btn my-btn-outline btn-sm">1 an</button>
    <button type="button" class="btn my-btn-outline btn-sm">3 ans</button>
    <button type="button" class="btn my-btn-outline btn-sm">5 ans et +</button>
  </div>

  <button type="button" class="btn btn-primary main-button">C'est bien ça!</button>
</div>
</body>

</html>
