input {
    position: fixed;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: none;
  }

  .input-1 {
    margin-top: 197px;
    margin-left: 100px;
    font-size: 36px;
  }
  .input-2 {
    margin-top: 257px;
    margin-left: 120px;
    font-size: 18px;
  }
  .input-3 {
    margin-top: 200px;
    margin-left: 295px;
    font-size: 16px;
    font-weight: 400;
  }
  .input-4 {
    margin-top: 225px;
    margin-left: 316px;
    font-size: 16px;
    font-weight: 400;
  }
  .icon-1 {
    position: fixed;
    color: white;
    margin-top: 226px;
    margin-left: 402px;
    background-color: transparent;
    font-size: 37px;
  }