.my-background-piece{
  background-image: url('../shared/images/choix_piece3.png');
  color: white;
  background-size: cover;
}
.buttonPiece{
  position: center;
  background-color: #85c8ec;
  border-radius: 4pt;
  width: 172.5pt;
  margin-top: 40pt;
  margin-left: 50pt;
  height: 45pt;
}
.icon-preccedent{
  margin-top: 25pt;
}
.my-radio{
  padding-top: 50pt;
  padding-top: 30pt;
  padding-left: 70px;

}
.spacer{
  padding-right: 98px;
}
.h3-piece{
  position: center;
  margin-top: 500px;
  padding-left: 70px;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4fd7b9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.replacePasseport{
  position: absolute;
  top: 570px;
  left: 90px;
}
.replaceCIN{
  position: absolute;
  top: 570px;
  left: 210px;
}
.replacePermis{
  position: absolute;
  top: 570px;
  left: 335px;
}
