<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-piece">
  <a (click)="returnToVousJoindre()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <h3 class="h3-piece"></h3>
  <!--<mat-radio-group aria-label="Select an option" class="my-radio">
    <mat-radio-button value="1" class="spacer ">    </mat-radio-button>
    <mat-radio-button value="2" class="spacer">    </mat-radio-button>
    <mat-radio-button value="3" checked="true">    </mat-radio-button>
  </mat-radio-group>-->
  <div class="replacePasseport">
  <label class="container">
    <input type="radio" name="legende">
    <span class="checkmark"></span>
  </label>
</div>
  <div class="replaceCIN">
    <label class="container">
      <input type="radio" name="legende">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="replacePermis">
    <label class="container">
      <input type="radio" name="legende" checked>
      <span class="checkmark"></span>
    </label>
  </div>
  <br><br><br><br>
  <button class="btn btn-info btn-lg btn-block buttonPiece" (click)="goToTakePicture()">C'est tout bon</button>
</div>
</body>
</html>





