<!DOCTYPE html>
<html lang="en">

<head>
  <title>epargneMenu</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width: 30%;
      height: 790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>

<body>
<div id="demo" class="my-background">
  <mat-icon class="icon-back" (click)="goBack()">keyboard_backspace</mat-icon>
  <div class="container">
    <div class="replacePrudent">
      <label class="container">
        <input type="radio" name="legende" checked>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div *ngIf="paymentType == 'maestro'">
    <div class="my-heading-1">Maestro card</div>
    <img class="maestro" src="maestro1.png " width="50" height="40">
    <mat-form-field class="card-number">
      <mat-label class="my-label">Card number</mat-label>
      <input matInput value="**** **** **** 4448" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="expiration-date">
      <mat-label>Expiration Date</mat-label>
      <input matInput class="my-label" value="04/22" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="security-code">
      <mat-label class="my-label">Security Code</mat-label>
      <input matInput type="password" maxlength="3">
    </mat-form-field>
  </div>

  <div *ngIf="paymentType == 'mastercard'">
    <div class="my-heading-1">Master card</div>
    <img class="mastercard" src="mastercard-512.png" width="60" height="40">
    <mat-form-field class="card-number">
      <mat-label>Card number</mat-label>
      <input matInput class="my-label" value="**** **** **** 4449" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="expiration-date">
      <mat-label>Expiration Date</mat-label>
      <input matInput class="my-label" value="03/22" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="security-code">
      <mat-label class="my-label">Security Code</mat-label>
      <input matInput type="password" maxlength="3">
    </mat-form-field>
  </div>

  <div *ngIf="paymentType == 'creditcard'">
    <div class="my-heading-1">Credit card</div>
    <img class="creditcard" src="credit-card.png" width="60" height="40">
    <mat-form-field class="card-number">
      <mat-label class="my-label">Card number</mat-label>
      <input matInput [(ngModel)]="ccNumber" type="text" (keyup)="validateCCNumber($event)" maxlength="19">
    </mat-form-field>
    <mat-form-field class="expiration-date">
      <mat-label class="my-label">Expiration Date</mat-label>
      <input matInput [(ngModel)]="expiryDate" type="text" (keyup)="validateExpiryDate($event)" maxlength="5">
    </mat-form-field>
    <mat-form-field class="security-code">
      <mat-label class="my-label">Security Code</mat-label>
      <input matInput type="password" maxlength="3">
    </mat-form-field>
  </div>
  <button class="btn btn-block my-btn" (click)="goToVersementRegulier5()">Pay {{formatAmount(amount)}} €</button>

  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToRachat()"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #7f3776" (click)="goToVersementRegulier()"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToDispositif()"><b>Importer</b></a>
  </div>
</div>

</body>

</html>
