<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;

    }
  </style>
</head>
<body>

<div id="demo" class="container my-background-connaissance">
  <a (click)="returnToRisque()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <input value="Nous allons maintenant évaluer vos" class="robot">
  <input value="connaissances des marchés" class="robot2">
  <input value="financiers." class="robot2">
  <button class="btn btn-info btn-lg btn-block buttonConnaissance" (click)="goToKnowledge()">C'est parti</button>
</div>
</body>
</html>
