.my-background-project{
  background-image: url('../shared/images/dispositif5.png');
  color: white;
  background-size: cover;
}


.my-project-choice-suite{
  margin-top: 50px;
  margin-left: 20px;
}


.icon-preccedent{
  margin-top: 25pt;
}
.spacer{
  margin-top: 30px;
}
mat-grid-tile {
  background: lightblue;
}

.buttonGo {
  position: center;
  background-color: #85c8ec;
  border-radius: 4pt;
  width: 172.5pt;
  margin-left: 68pt;
  margin-top: 50px;
  height: 45pt;
}
.my-paragraphe1{
  color: transparent;

}
.example-full-width-adresse {
  margin-left: 40px;
  margin-top: 100px;
  width: 80%;
}
.my-label-adresse{
  color: #85c8ec;
}
::ng-deep .mat-form-field-underline {

  background-color: #85c8ec!important;

}
.replaceTransferer{
  position: absolute;
  top: 810px;
  left: 885px;
  color: #7f3776;
  font-family: Roboto;
  font-size: 14px;
}

.robot {
  margin-left: 70px;
  margin-top: 100px;
  color: black;
  font-size: 16px;
  font-family: Roboto;
}
.robot2 {
  font-family: Roboto;
  font-size: 12pt;
  border: 0;
  background: transparent;
  margin-left: 70px;
  width: 100%;
}
.my-h3-login{
  text-align: center;
  width: 278pt;
  height: 20.5pt;
  padding-top: 100pt;
  padding-left: 40px;
  font-family: Roboto;
}
.my-label-data{
  color: #85c8ec;
}
.listConditions {
  margin-top: 100px;
}
.conditionBox{
  margin-top: 80px;
  margin-left: 20px;
}





