<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    i
  </p>
  <p class="robot">
    Vous investissez dans un <b>Contrat</b><br>
    <b>d'assurance Luxembourgeois.</b><br>
    Le processus est entièrement<br>
    digital.
  </p>

  <h5 class="my-h3-login">
    Vous acceptez les conditions suivantes :
  </h5>
  <div class="conditionBox">
    <label><input type="checkbox" name="checkbox" value="value"> Les conditions générales d'utilisation</label>
    <label><input type="checkbox" name="checkbox" value="value"> Le contrat d'assurance</label>
    <label><input type="checkbox" name="checkbox" value="value"> Le mandat pour agir en votre nom</label>
    <label><input type="checkbox" name="checkbox" value="value"> Les conditions générales de signature éléctronique</label>
  </div>

  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToDispositif5()">Je valide !</button>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Lister</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Importer</b></a>
  </div>


</div>
</body>
</html>


