<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    Versement Ponctuel
  </p>
  <div class="iconMenuAll">
    <a (click)="returnToVersementPonctuel3()" href="" data-toggle="collapse" style="color: white">
      <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
    </a>
  </div>

  <input value="veuillez sélectionner votre méthode " class="robot">
  <input value="de paiement" class="robot2">

 <h5 class="my-h3-login">Méthodes de paiement</h5>
 <a class="maestro"><img src="maestro1.png " width="50" height="40"><b style="margin-left: 10px">**********</b>4448</a>
  <a class="mastercard"><img src="mastercard-512.png" width="60" height="40"><b style="margin-left: 5px">**********</b>4449</a>
  <h5 class="my-h3-login2">Sélectionner une autre méthode</h5>
  <a class="ideal">
    <img src="ideal.png" width="50" height="40">
    <span style="margin-left: 10px">iDEAL</span>
    <img src="arrowRight.png" alt="ok" class="arrow1">
  </a>
  <a class="credit"><img src="credit-card.png" width="50" height="40">
    <span style="margin-left: 10px">Credit Card</span>
    <img src="arrowRight.png" alt="ok" class="arrow2">
  </a>
  <a class="paypal"><img src="paypal-logo.jpg" width="50" height="30"><span style="margin-left: 10px">PayPal</span></a>
  <h5 class="my-h3-login-bis">... Méthodes supplémentaire</h5>
 <!-- <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToVersementPonctuel5()">Saisir ma carte</button><br>
  <button class="btn btn-info btn-lg btn-block buttonGo2" (click)="goToVersementPonctuel5()">Scanner ma carte</button>-->
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToRachat()"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToDispositif()"><b>Importer</b></a>
  </div>


</div>
</body>
</html>


