<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-risque1">
  <a (click)="returnToFiscality1()">
    <mat-icon class="backIcon">keyboard_backspace</mat-icon>
  </a>
  <p class="robot">

    Merci ! Votre document est en<br>
    cours de traitement (moins de 10 mn)<br><br>
    Une avant-dernière question:<br>
  </p>
  <h6 class="projectTitle">
    Sur le document que vous nous avez fait parvenir vos êtes:
  </h6>

  <button class="btn btn-info btn-lg btn-block btnDeclarant" (click)="goToFiscality3()">Déclarant 1</button><br>
  <button class="btn btn-info btn-lg btn-block btnDeclarant" (click)="goToFiscality3()">Déclarant 2</button>
</div>
</body>
</html>


