<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    i
  </p>
  <input value="Pour accueillir vos fonds, il vous faut" class="robot">
  <input value="signer votre contrat d'ouverture de" class="robot2">
  <input value="compte" class="robot2">

  <h5 class="my-h3-login">Vous pouvez consulter l'ensemble des documents ci-dessous:</h5>
  <ul class="listConditions">
    <a href="" data-toggle="collapse" style="color: white"><li>Les conditions générales d'utilisation</li></a>
    <a href="" data-toggle="collapse" style="color: white"><li>Contrat d'assurance</li></a>
    <a href="" data-toggle="collapse" style="color: white"><li>Conditions générales de ventes</li></a>
    <a href="" data-toggle="collapse" style="color: white"><li>Conditions générales de signature éléctronique</li></a>
    <a href="" data-toggle="collapse" style="color: white"><li>Le mandat de gestion</li></a>
  </ul>
  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToDispositif5()">C'est clair !</button>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Lister</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Importer</b></a>
  </div>


</div>
</body>
</html>


