<!DOCTYPE html>
<html lang="en">
<head>
  <title>epargneMenu</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-epargne">
  <h4 class="title">Mon épargne</h4>

  <div class="replaceMenu1 menu-separator">
    <h5>Synthèse</h5>
  </div>
  <div class="replaceMenu2">
    <h5>Dispositifs</h5>
  </div>
  <div class="replaceMenu3">
    <h5>Instruments</h5>
  </div>
  <div class="replaceSelected selected-separator">
    <select class="selected">
      <option value="dat1">04/02/2019</option>
      <option value="dat2">14/03/2019</option>
      <option value="date3">01/04/2019</option>
    </select>
  </div>


  <div style="margin-top: 100px">
    <canvas id="pieChart" width="300px" height="300px"></canvas>
  </div>

  <div class="replaceDivChart">
    22500,00 €
  </div>
  <div class="replaceDivChart2">
    +/- value latente
  </div>
  <div class="replaceDivChart3">
    457,00 €
  </div>
  <div class="replaceDivChart4">
    +7.47%
  </div>
  <div style="margin-top: 50px; margin-left: 20px">
    <label class="container">Plan d'épargne retraite collectif 35%
      <input type="radio" name="legende"(click)="goToEpargneRetraiteCollectif()" checked>
      <span class="checkmark"></span>
    </label>
  </div>
  <div style="margin-left: 20px">
    <label class="container">Plan d'épargne d'entreprise 35%
      <input type="radio" name="legende"(click)="goToEpargneEntreprise()">
      <span class="checkmark"></span>
    </label>
  </div>
  <div style="margin-left: 20px">
    <label class="container">Plan d'épargne retraite individuel 25%
      <input type="radio" name="legende"(click)="goToEpargneRetraiteIndividuel()">
      <span class="checkmark"></span>
    </label>
  </div>
  <div style="margin-left: 20px">
    <label class="container">Plan d'épargne individuel 5%
      <input type="radio" name="legende"(click)="goToEpargneIndividuel()">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
</body>
</html>

