<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:780px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-viewLD">

  <a (click)="returnToTakePictureVerso()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <h4 class="my-h3-login">Verso</h4>
  <button class="btn btn-info btn-lg btn-block buttonviewLD" (click)="goToTakeSelfie()">Les données sont lisibles</button>

  <h5><a href="" data-toggle="collapse" class="my-lynk-viewLD">
    <i (click)="goToTakePictureVerso()">Refaire la photo</i>
  </a></h5>
</div>
</body>
</html>
