<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <a (click)="returnToKnowledge4()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <h3 class="question">Question 5/5</h3>
  <h6 class="projectTitle">
    Avant d'investir dans un fonds ?
  </h6>
  <div class="replaceDiv1">
    <!--<input class="input" value="Je lis la documentation">-->
    <button class="btn btn-outline-info btn1" (click)="goToScore()">Je lis la documentation</button>
  </div>
  <div class="replaceDiv2">
    <!--<input class="input" value="Je fais confiance "><br>
    <input class="input" value="après tout j'ai "><br>
    <input class="input" value="autre chose à faire...">-->
    <button class="btn btn-outline-info btn1" (click)="goToScore()">Je fais confiance après tout j'ai autre chose à faire</button>
  </div>
  <div class="replaceDiv3">
    <!--<input class="input" value="Je ferme les yeux">-->
    <button class="btn btn-outline-info btn1" (click)="goToScore()">Je ferme les yeux</button>
  </div>
  <div class="replaceDiv4">
    <!--<input class="input" value="J'implore les Dieux"><br>
    <input class="input" value="de la finance">-->
    <button class="btn btn-outline-info btn1" (click)="goToScore()">J'implore les Dieux de la finance</button>
  </div>
  <!--<mat-radio-group>
    <div class="replaceRadio1">
      <mat-radio-button value="1"></mat-radio-button>
    </div>
    <div class="replaceRadio2">
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="replaceRadio3">
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="replaceRadio4">
      <mat-radio-button value="4"></mat-radio-button>
    </div>
  </mat-radio-group>-->
 <!-- <div class="replaceRadio1">
    <input type="radio" name="tag5" value="1">
  </div>
  <div class="replaceRadio2">
    <input type="radio" name="tag5" value="2">
  </div>
  <div class="replaceRadio3">
    <input type="radio" name="tag5" value="3">
  </div>
  <div class="replaceRadio4">
    <input type="radio" name="tag5" value="4">
  </div>-->
  <!--<div class="timer">{{timeLeft}}<mat-icon>alarm</mat-icon></div>-->
</div>
</body>
</html>

