<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <style>
      #demo {
        width:30%;
        height:790px;
        margin-top: 20px;
        margin-left: 500px;
      }
    </style>
  </head>
  <body>
    <div id="demo" class="container my-background-risque1">
      <a (click)="returnToMenu()">
        <mat-icon class="menuIcon">menu</mat-icon>
      </a>
      <p class="robot">

        Savez-vous que vous pouvez financer<br>
        jusqu'à 45% de vos investissements<br>
        pour la retraite ou pour acquérir une<br>
        residence principale par des économies<br>
        d'impôts en quelques clics?
      </p>
      <h6 class="projectTitle">
        Partagez votre dernier avis d'impôt sur le revenu, on s'occupe de tout
      </h6>

      <div class="fiscaliteLynk">
        Il suffit d'ouvrir l'app <a href="" data-toggle="collapse" (click)="goToSlideFiscality()"> impots.gouv</a> sur votre smartphone.<br><br>
        <span style="text-decoration: underline">Comment ça marche?</span>
      </div>
      <div class="fiscaliteInfo">
        <i>Aller dans « consulter mes documments»<br>« Avis d'impôt sur le revenu »<br> partager</i>
      </div>

    </div>
  </body>
</html>


