<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <style>
      #demo {
        width:30%;
        height:790px;
        margin-top: 20px;
        margin-left: 500px;
      }
    </style>
  </head>
  <body>
    <div id="demo" class="container my-background-risque1">
      <a (click)="returnToMenu()">
        <mat-icon class="menuIcon">menu</mat-icon>
      </a>
      <p class="robot">

        Savez-vous que vous pouvez financer<br>
        jusqu'à <i><b>45%</b></i> de vos investissements<br>
        pour la retraite ou pour acquérir une<br>
        résidence principale par des<br>
        <i><b>économies d'impôts en quelques clics</b></i>?
      </p>
      <h6 class="projectTitle">
        Partagez votre dernier avis d'impôt sur<br/> le revenu, on s'occupe de tout !
      </h6>
      <div class="my-sub-heading">
        <span class="sub-heading-1">Ouvrir</span>
        <span class="sub-heading-2">Documents</span>
        <span class="sub-heading-3">Revenu</span>
      </div>
    <div class="my-text-1">
      Ouvrir l'app Impts.gouv.sur votre smartphone, cliquew sur "Consulter les documents", ensuite sur
      "Avis d'impôt sur le revenue" et partagez-le avec ekonoo.
    </div>
      <button class="btn btn-block my-btn" (click)="goToSlideFiscality()">Ouvrir Impots.gouv.</button>
    </div>
  </body>
</html>


