.my-background-project{
  background-image: url('../shared/images/rachat3.png');
  color: white;
  background-size: cover;
}


.my-project-choice-suite{
  margin-top: 50px;
  margin-left: 20px;
}


.icon-preccedent{
  margin-top: 25pt;
}
.spacer{
  margin-top: 30px;
}
mat-grid-tile {
  background: lightblue;
}
.buttonLancementA {
  position: center;
  background-color: #85c8ec;
  border-radius: 4pt;
  width: 172.5pt;
  margin-top: 400pt;
  margin-left: 65pt;
  height: 45pt;
}
.buttonGo {
  position: center;
  background-color: #85c8ec;
  border-radius: 4pt;
  width: 172.5pt;
  margin-left: 80pt;
  margin-top: 620px;
  height: 45pt;
}
.my-paragraphe1{
  color: transparent;

}
.example-full-width-adresse {
  margin-left: 40px;
  margin-top: 350px;
  width: 80%;
}
.my-label-adresse{
  color: #85c8ec;
}
::ng-deep .mat-form-field-underline {

  background-color: #85c8ec!important;

}
.replaceInput1{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 12pt;
  text-align: left;
  position: absolute;
  top: 340px;
  left: 545px;
  color: white;
  width: 200px;
}
.replaceInput2{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 20pt;
  position: absolute;
  top: 360px;
  left: 545px;
  color: white;
  width: 250pt;
}
.replaceInput3{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 12pt;
  position: absolute;
  top: 400px;
  left: 545px;
  color: white;
  width: 250pt;
}
.replaceInput4{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 14pt;
  position: absolute;
  top: 439px;
  left: 570px;
  color: white;
  width: 250pt;
}
.replaceInput5{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 12pt;
  position: absolute;
  top: 490px;
  left: 545px;
  color: white;
  width: 250pt;
}
.replaceInput6{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 20pt;
  position: absolute;
  top: 520px;
  left: 545px;
  color: white;
  width: 250pt;
}
.replaceInput7{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 12pt;
  position: absolute;
  top: 560px;
  left: 545px;
  color: white;
  width: 250pt;
}
.replaceInput8{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 14pt;
  position: absolute;
  top: 595px;
  left: 570px;
  color: white;
  width: 250pt;
}
.replaceInput9{
  border: 0;
  background: transparent;
  font-family: Roboto;
  font-size: 16pt;
  text-align: center;
  position: absolute;
  top: 620px;
  left: 530px;
  color: white;
  width: 308pt;
}
.replaceDefaultRadio{
  position: absolute;
  top: 390px;
  left: 900px;
}
.replaceAnotherRadio{
  position: absolute;
  top: 550px;
  left: 900px;
}

/* Customize the label (the container) */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4fd7b9;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}




