<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class=" my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    i
  </p>
  <div class="iconMenuAll">
    <a (click)="returnToMenu()" href="" data-toggle="collapse" style="color: white">
      <mat-icon class="icon-preccedent">menu</mat-icon>
    </a>
  </div>
  <input type="text" value="Compte par défaut" class="replaceInput1">
  <input type="text" value="LU14 1414 XXXX 1414" class="replaceInput2">
  <input type="text" value="BCEE" class="replaceInput3">
  <input type="text" value="Nom du compte" class="replaceInput4">
  <input type="text" value="Autre compte" class="replaceInput5">
  <input type="text" value="LU20 2014 XXXX 2014" class="replaceInput6">
  <input type="text" value="BNP Paribas" class="replaceInput7">
  <input type="text" value="Nom du compte" class="replaceInput8">
  <div class="replaceDefaultRadio">
    <label class="container">
      <input type="radio" name="legende" checked>
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="replaceAnotherRadio">
    <label class="container">
      <input type="radio" name="legende">
      <span class="checkmark"></span>
    </label>
  </div>
  <button class="btn btn-info btn-lg btn-block buttonGo" data-toggle="modal" data-target="#Modal">Valider</button>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToDispositif()"><b>Importer</b></a>
  </div>

  <div ngDraggable class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" class="modal-dialog modal-dialog-centered"  role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #7a3978;cursor:move;" >
          <h5 class="modal-title" id="AddModalLabel" style="color: white">
            Opération rachat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <h4 style="color: #85c8ec">Opération éffectuée avec succès</h4>
            <button class="btn btn-info" data-dismiss="modal"
                      (click)="returnToMenu()">
               Parfait
              </button>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</body>
</html>

