<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class=" my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    i
  </p>
  <div class="iconMenu">
    <a (click)="returnToMenu()" href="" data-toggle="collapse" style="color: white">
      <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
    </a>
  </div>
  <div class="capital-value">{{capitalValue}} €</div>
  <div class="graph-data">
    <div class="graph-heading">Capital</div>
    <div class="graph-text">{{capitalValue}} €</div>
    <div class="graph-footer">100 %</div>
  </div>
  <div class="replaceEditBtn">
    <button class="btn btn-outline-info btnEdit" (click)="goToRachatGraphe2()">Editer</button>
  </div>
  <input type="text" value="Capital" class="replaceCapital">
  <input type="text" value="100%" class="replaceMontantCapital">
  <input type="text" value="Rente viagère" class="replaceViagere" disabled>
  <input type="text" value="0%" class="replaceMontantViagere" disabled>
  <input type="text" value="Rente financière" class="replaceFinanciere" disabled>
  <input type="text" value="0%" class="replaceMontantFinanciere" disabled>
  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToRachat3()">Je valide</button>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToVerser()"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToDispositif()"><b>Importer</b></a>
  </div>


</div>
</body>
</html>

