<!DOCTYPE html>
<html lang="en">
<head>
  <title>createCompte</title>
  <meta charset="utf-8">

  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>

  <div id="demo" class="container my-background-code" #demo>
    <br><br><br><br><br><br><br>
    <h4 class="my-h3-login">Conditions générales</h4>
    <br><br>
    <a class="pdf" (click)="downloadPDF()">
      <mat-icon>cloud_download</mat-icon>
    </a>

    <p class="paragrapheCode">Les conditions générales d’utilisation suivantes (ci-après les « Conditions générales d’utilisation » ou « CGU »)
      s’appliquent et régissent l’utilisation du site internet (ci-après le « Site internet » ainsi que l’utilisation de tout ou partie des services en ligne
      (ci-après les « Services » ou un « Service »)...</p>
    <button class="btn btn-info btn-lg btn-block buttonGoCode" (click)="goToLogin()">Accepter</button>
  </div>
</body>
</html>


