<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
 <!-- <a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <h3 class="question">Question 2/5</h3>
  <h6 class="projectTitle">Qu'est ce qu'un fond indiciel?</h6>
  <div class="replaceDiv1">
    <!--<input class="input" value="Une association de"><br>
    <input class="input" value="detectives amateurs">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge3()">Une association de detectives amateurs</button>
  </div>
  <div class="replaceDiv2">
    <!--<input class="input" value="Un puit sans fonds">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge3()">Un puit sans fonds</button>
  </div>
  <div class="replaceDiv3">
    <!--<input class="input" value="Un petit rongeur"><br>-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge3()">Un petit rongeur</button>
  </div>
  <div class="replaceDiv4">
    <!--<input class="input" value="Un placement qui"><br>
    <input class="input" value="suit un indice">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge3()">Un placemennt qui suit un indice</button>
  </div>
  <!--<mat-radio-group>
    <div class="replaceRadio1">
      <mat-radio-button value="1"></mat-radio-button>
    </div>
    <div class="replaceRadio2">
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="replaceRadio3">
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="replaceRadio4">
      <mat-radio-button value="4"></mat-radio-button>
    </div>
  </mat-radio-group>-->
  <!--<div class="replaceRadio1">
    <input type="radio" name="tag2" value="1">
  </div>-->
  <!--<div class="replaceRadio2">
    <input type="radio" name="tag2" value="2">
  </div>-->
  <!--<div class="replaceRadio3">
    <input type="radio" name="tag2" value="3">
  </div>-->
  <!--<div class="replaceRadio4">
    <input type="radio" name="tag2" value="4">
  </div>-->
  <!--<div class="timer">{{timeLeft}}<mat-icon>alarm</mat-icon></div>-->
</div>
</body>
</html>

