<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    i
  </p>
  <mat-form-field class="example-full-width-adresse">
    <mat-label class="my-label-adresse">Opération à executer</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToRachat2()">C'est parti!</button>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Lister</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Importer</b></a>
  </div>


</div>
</body>
</html>

