<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    Versement Regulier
  </p>
  <div class="iconMenuAll">
    <a (click)="returnToMenu()" href="" data-toggle="collapse" style="color: white">
      <mat-icon class="icon-preccedent">menu</mat-icon>
    </a>
  </div>
  <input value="Parfait, votre compte bancaire sera" class="robot">
  <input value="débité dans les deux prochains jours." class="robot2">
  <input value="Les montants seront investis aussitôt" class="robot2">
  <input value="l'argent arrivé chez ekonoo" class="robot2">

  <div class="versementFinal">
    Pour information:<br><br>
    <span class="versement1">Votre versement de <input type="text" value="150 €" class="verserInput"></span> <br>
    <span class="versement2">abaissera votre impôt de <input type="text" value="50 €" class="verserInput"></span><br><br>
    <span>Dans les limites de votre <i style="text-decoration: underline">enveloppe fiscale disponible</i></span>
  </div>
  <!--<h5 class="my-h3-login">Choisir votre type de versement</h5>-->
 <!-- <button class="btn btn-info btn-lg btn-block buttonGo" >Enregistrer ma carte</button><br>-->
  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="returnToVerser()">Enregistrer</button><br>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToRachat()"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToDispositif()"><b>Importer</b></a>
  </div>


</div>
</body>
</html>


