<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <a (click)="returnToKnowledge3()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <h3 class="question">Question 4/5</h3>
  <h6 class="projectTitle">
    Qu'est ce que le Krach de 1929 ?
  </h6>
  <div class="replaceDiv1">
    <!--<input class="input" value="Un accident d'avion">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge5()">Un accident d'avion</button>
  </div>
  <div class="replaceDiv2">
    <!--<input class="input" value="Une grande explosions"><br>
    <input class="input" value="aux Etats Unis ">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge5()">Une grande explosions aux Etats Unis</button>
  </div>
  <div class="replaceDiv3">
    <!--<input class="input" value="Le début de la seconde"><br>
    <input class="input" value="Guerre mondiale">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge5()">Le début de la seconde guerre mondiale</button>
  </div>
  <div class="replaceDiv4">
    <!--<input class="input" value="Une forte chute de la"><br>
    <input class="input" value="bourse de New-York">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge5()">Une forte chute de la bourse de New-York</button>
  </div>
 <!-- <mat-radio-group>
    <div class="replaceRadio1">
      <mat-radio-button value="1"></mat-radio-button>
    </div>
    <div class="replaceRadio2">
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="replaceRadio3">
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="replaceRadio4">
      <mat-radio-button value="4"></mat-radio-button>
    </div>
  </mat-radio-group>-->
  <!--<div class="replaceRadio1">
    <input type="radio" name="tag4" value="1">
  </div>
  <div class="replaceRadio2">
    <input type="radio" name="tag4" value="2">
  </div>
  <div class="replaceRadio3">
    <input type="radio" name="tag4" value="3">
  </div>
  <div class="replaceRadio4">
    <input type="radio" name="tag4" value="4">
  </div>-->
  <!--<div class="timer">{{timeLeft}}<mat-icon>alarm</mat-icon></div>-->
</div>
</body>
</html>

