.my-background-risque1{
  background-image: url('../shared/images/fisc6.png');
  color: white;
  background-size: cover;
}
.robot {
  margin-left: 70px;
  margin-top: 35px;
  color: black;
  font-size: 16px;
  font-family: inherit;
}
input {
  border: 0;
  background: transparent;
  color: white;
}
.text-1{
  position: fixed;
  margin-top: 158px;
  width: 305px;
  margin-left: 70px;
  font-size: 21px;
  text-align: center;
}
.text-1 > input{
  font-size: 21px;
  width: 60px;
}
.text-2{
  position: fixed;
  margin-top: 250px;
  width: 305px;
  margin-left: 38px;
  font-size: 14px;
}
.text-2 > input{
  font-size: 34px;
  width: 140px;
}
.text-3{
  position: fixed;
  margin-top: 332px;
  width: 365px;
  margin-left: 29px;
  font-size: 14px;
}
.text-4{
  position: fixed;
  margin-top: 357px;
  margin-left: 29px;
  font-size: 14px;
  color: red;
}
.text-4 > input {
  color: red;
}
.text-5{
  position: fixed;
  margin-top: 357px;
  margin-left: 245px;
  font-size: 14px;
  color: lightgreen;
}
.text-5 > input {
  color: lightgreen;
}
.text-6 {
  position: fixed;
  margin-top: 410px;
  width: 320px;
  margin-left: 45px;
  font-size: 15px;
  text-align: center;
}
.my-button{
  position: fixed;
  background-color: #85c8ec;
  border-radius: 4pt;
  width: 160pt;
  margin-top: 500px;
  margin-left: 102px;
}
.my-link{
  position: fixed;
  margin-top: 564px;
  margin-left: 135px;
  font-size: 17px;
  font-weight: 500;
  color: white;
}
.my-link > a:link {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.my-link > a:visited {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.my-link > a:hover {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.my-link > a:active {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}
.backIcon{
  margin-top: 50px;
}

