<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-risque1">
  <a (click)="returnToFiscality3()">
    <mat-icon class="backIcon">keyboard_backspace</mat-icon>
  </a>
  <p class="robot">
    <b><i>Voilà, c'est fait !</i></b><br>
  </p>
  <div class="text-1">
    Votre Taux Marginal d'imposition (TMI) est de <input type="text" value="30%">
  </div>
  <div class="text-2">
    votre plafond de déduction fiscale est de : <br/><input type="text" value="32 678 €">
  </div>
  <div class="text-3">
    En investissant 32 678 €, cela vous coûtera réellement :
  </div>
  <div class="text-4">
    Coûts réels : <input type="text" value="22 874,6 €">
  </div>
  <div class="text-5">
    Économies : <input type="text" value="9 803,4 €">
  </div>
  <div class="text-6">
    Si vous avez pur objectif d'acquérir une résidence principale, vous pourrez tout débloquer !
  </div>
  <button class="btn btn-info btn-lg btn-block my-button" (click)="returnToMenu()">Bien compris !</button>
  <a class="my-link" [routerLink]="" (click)="doNothing()" >Modifier mon TMI</a>
</div>
</body>
</html>


