<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <a (click)="returnToKnowledge5()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <p class="my-paragraphe1">
    i
  </p>
  <div class="replacePrudent">
    <label class="container">
      <input type="radio" name="legende">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="replaceBalanced">
    <label class="container">
      <input type="radio" name="legende">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="replaceDynamic">
    <label class="container">
      <input type="radio" name="legende" checked>
      <span class="checkmark"></span>
    </label>
  </div>
  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToOnBoard1()">C'est bien ça !</button>
</div>
</body>
</html>

