<!DOCTYPE html>
<html lang="en">
<head>
  <title>createCompte</title>
  <meta charset="utf-8">

  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>

<div id="demo" class="container my-background">
  <a (click)="returnToMenu()">
    <mat-icon class="icon-preccedent-global">keyboard_backspace</mat-icon>
  </a>
  <p class="tel"><b>Tel: +337834501</b>, nos lignes sont disponibles du Lundi au Vendredi de 8H à 17H30</p>

</div>
</body>
</html>
