<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">

  <mat-icon class="my-menu-icon">menu</mat-icon>
  <mat-icon class="my-clear-icon">clear</mat-icon>
  <div class="my-button-group d-flex justify-content-center">
      <button class="btn btn-info btn-lg">Je veux faire un transfer</button>
      <button class="btn btn-info btn-lg">Je veux faire un versement</button>
  </div>
</div>
</body>
</html>

