.my-background{
    background-image: url('../shared/images/produit_1.png');
    color: white;
    background-size: cover;
  }
  .my-heading {
    position: fixed;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: none;
    margin-top: 25px;
    margin-left: 140px;
    width: 140px;
    font-size: 23px;
  }
  .menu-items {
    font-size: 21px;
    position: fixed;
    font-weight: 500;
    margin-top: 80px;
  }
  .menu-item-active {
    margin-left: 22px;
    margin-right: 37px;
    color: lightblue !important;
  }
  .menu-item {
      margin-right: 20px;
  }

  .active > a:link {
    color: white;
    text-decoration: none;
  }
  .active > a:visited {
    color: white;
    text-decoration: none;
  }
  .active > a:hover {
    color: white;
    text-decoration: none;
  }
  .active > a:active {
    color: white;
    text-decoration: none;
  }
  .inactive > a:link {
    color: lightblue;
    text-decoration: none;
  }
  
  .inactive > a:visited {
    color: lightblue;
    text-decoration: none;
  }
  
  .inactive > a:hover {
    color: lightblue;
    text-decoration: none;
  }
  
  .inactive > a:active {
    color: lightblue;
    text-decoration: none;
  }
  .badge-1 {
    margin-top: 67px;
    margin-left: 130px;
    position: fixed;
    font-size: 13px;
  }
  .badge-2 {
    margin-top: 67px;
    margin-left: 245px;
    position: fixed;
    font-size: 13px;
  }
  .badge-3 {
    margin-top: 67px;
    margin-left: 370px;
    position: fixed;
    font-size: 13px;
  }
  .my-date-1 {
    padding-top: 140px;
    padding-left: 180px;
    position: fixed;
    font-size: 15px;
  }
  .my-date-2 {
    padding-top: 654px;
    padding-left: 180px;
    position: fixed;
    font-size: 15px;
  }
  .produit-item-1{
    margin-top: 155px;
    position: fixed;
  }
  .produit-item-2{
    margin-top: 308px;
    position: fixed;
  }
  .icon-menu {
    margin-top: 28px;
    margin-left: 4px;
    position: absolute;
    font-size: 33px;
    z-index: 99;
  }
  .icon-2 {
    margin-top: 30px;
    margin-left: 385px;
    position: fixed;
    height: 20px;
  }
