<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <h3 class="question">Question 6/10</h3>
  <h6 class="projectTitle">
    La valeur des actions varie<br> généralement en fonction ?
  </h6>
  <div class="replaceDiv1">
    <input class="input" value="De l'ambiance dans"><br>
    <input class="input" value="l'entreprise">
  </div>
  <div class="replaceDiv2">
    <input class="input" value="De l'alignement des"><br>
    <input class="input" value="planètes ">
  </div>
  <div class="replaceDiv3">
    <input class="input" value="Des coefficients de"><br>
    <input class="input" value="marées">
  </div>
  <div class="replaceDiv4">
    <input class="input" value="Des perspectives de"><br>
    <input class="input" value="bénéfices">
  </div>
  <!--<mat-radio-group>
    <div class="replaceRadio1">
      <mat-radio-button value="1"></mat-radio-button>
    </div>
    <div class="replaceRadio2">
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="replaceRadio3">
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="replaceRadio4">
      <mat-radio-button value="4"></mat-radio-button>
    </div>
  </mat-radio-group>-->
  <div class="replaceRadio1">
    <input type="radio" name="tag6" value="1">
  </div>
  <div class="replaceRadio2">
    <input type="radio" name="tag6" value="2">
  </div>
  <div class="replaceRadio3">
    <input type="radio" name="tag6" value="3">
  </div>
  <div class="replaceRadio4">
    <input type="radio" name="tag6" value="4">
  </div>
  <div class="timer">{{timeLeft}}<mat-icon>alarm</mat-icon></div>
</div>
</body>
</html>

