<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
 <!-- <a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <h3 class="question">Question 7/10</h3>
  <h6 class="projectTitle">
    Chercher ce qui ne colle pas avec<br>l'épargne ?
  </h6>
  <div class="replaceDiv1">
    <input class="input" value="Les ruisseaux font les"><br>
    <input class="input" value="grandes rivières">
  </div>
  <div class="replaceDiv2">
    <input class="input" value="Le plus tôt est"><br>
    <input class="input" value="le mieux">
  </div>
  <div class="replaceDiv3">
    <input class="input" value="Prévoir c'est agir">
  </div>
  <div class="replaceDiv4">
    <input class="input" value="Rien ne sert de faire"><br>
    <input class="input" value=" des projets">
  </div>
  <!--<mat-radio-group>
    <div class="replaceRadio1">
      <mat-radio-button value="1"></mat-radio-button>
    </div>
    <div class="replaceRadio2">
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="replaceRadio3">
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="replaceRadio4">
      <mat-radio-button value="4"></mat-radio-button>
    </div>
  </mat-radio-group>-->
  <div class="replaceRadio1">
    <input type="radio" name="tag7" value="1">
  </div>
  <div class="replaceRadio2">
    <input type="radio" name="tag7" value="2">
  </div>
  <div class="replaceRadio3">
    <input type="radio" name="tag7" value="3">
  </div>
  <div class="replaceRadio4">
    <input type="radio" name="tag7" value="4">
  </div>
  <div class="timer">{{timeLeft}}<mat-icon>alarm</mat-icon></div>
</div>
</body>
</html>

