.my-background-epargne{
    background-image: url('../shared/images/dispositif-item-details.png');
    color: white;
    background-size: cover;
  }

  input {
    position: fixed;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: none;
  } 
  .input-1 {
    margin-top: 30px;
    margin-left: 135px;
    font-size: 23px;
  }
  .input-2 {
    margin-top: 90px;
    margin-left: 35px;
    font-weight: 400;
  }
  .input-3 {
    margin-top: 105px;
    margin-left: 35px;
    font-size: 40px;
  }
  .input-a {
    margin-top: 133px;
    margin-left: 217px;
    font-weight: 400;
    color: red;
    text-align: right;
  }
  .input-b {
    margin-top: 167px;
    margin-left: 217px;
    font-weight: 400;
    text-align: right;
  }
  .input-4 {
    margin-top: 195px;
    margin-left: 35px;
    font-weight: 400;
    width: 210px;
  }
  .input-c {
    margin-top: 195px;
    margin-left: 217px;
    font-weight: 400;
    text-align: right;
  }
  .input-5 {
    margin-top: 246px;
    margin-left: 35px;
    width: 210px;
    font-size: 18px;
  }
  .input-d {
    margin-top: 246px;
    margin-left: 281px;
    text-align: right;
    font-size: 18px;
    width: 110px;
  }
  .input-6 {
    margin-top: 301px;
    margin-left: 35px;
    width: 210px;
    font-size: 18px;
  }
  .input-e {
    margin-top: 301px;
    margin-left: 281px;
    text-align: right;
    font-size: 18px;
    width: 110px;
  }
  .input-7 {
    margin-top: 358px;
    margin-left: 35px;
    width: 210px;
    font-size: 18px;
  }
  .input-f {
    margin-top: 358px;
    margin-left: 281px;
    text-align: right;
    font-size: 18px;
    width: 110px;
  }
  .input-8 {
    margin-top: 412px;
    margin-left: 35px;
    width: 210px;
    font-size: 18px;
  }
  .input-g {
    margin-top: 412px;
    margin-left: 281px;
    text-align: right;
    font-size: 18px;
    width: 110px;
  }
  .input-9 {
    margin-top: 472px;
    margin-left: 35px;
    width: 210px;
    font-size: 18px;
  }
  .input-h {
    margin-top: 472px;
    margin-left: 281px;
    text-align: right;
    font-size: 18px;
    width: 110px;
  }
  .input-10 {
    margin-top: 535px;
    margin-left: 35px;
    width: 210px;
    font-size: 18px;
    color: lightblue;
  }
  .input-11 {
    margin-top: 601px;
    margin-left: 35px;
    width: 210px;
    font-size: 18px;
    color: lightblue;
  }
  .input-12 {
    margin-top: 668px;
    margin-left: 35px;
    width: 230px;
    font-size: 18px;
    color: lightblue;
  }

  .icon-back {
    margin-top: 35px;
    margin-left: 12px;
    position: fixed;
    color: white;
    background-color: transparent;
    font-size: 30px;
  }
  .icon-1 {
    margin-top: 529px;
    margin-left: 364px;
    position: fixed;
    color: #85c8ec;
    background-color: transparent;
    font-size: 40px;
  }
  .icon-2 {
    margin-top: 596px;
    margin-left: 364px;
    position: fixed;
    color: #85c8ec;
    background-color: transparent;
    font-size: 40px;
  }
  .icon-3 {
    margin-top: 663px;
    margin-left: 364px;
    position: fixed;
    color: #85c8ec;
    background-color: transparent;
    font-size: 40px;
  }