<!DOCTYPE html>
<html lang="en">

<head>
  <title>epargneMenu</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width: 30%;
      height: 790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>

<body>
  <div id="demo" class="container my-background-epargne">
    <mat-icon class="icon-back" (click)="goBack()">keyboard_backspace</mat-icon>
    <input type="text" value="Libellé fonds 1..." class="input-1" />
    <input type="text" value="Fev 04" class="input-2" />
    <input type="text" value="3 500,00 €" class="input-3" />
    <input type="text" value="Code ISIN : FR0010270033" class="input-4" />
    <input type="text" value="Performance 2018" class="input-5" />
    <input type="text" value="Derniére NAV" class="input-6" />
    <input type="text" value="TFE" class="input-7" />
    <input type="text" value="Politique" class="input-8" />
    <input type="text" value="Encours" class="input-9" />
    <input type="text" value="Objectif d'investissement" class="input-10" />
    <input type="text" value="Historique NAV" class="input-11" />
    <input type="text" value="Documents téléchargeables" class="input-12" />

    <input type="text" value="500,00 €" class="input-a" />
    <input type="text" value="Horizon : 8 ans" class="input-b" />
    <input type="text" value="Risque : 5/7" class="input-c" />
    <input type="text" value="5,45 %" class="input-d" />
    <input type="text" value="13,1516 €" class="input-e" />
    <input type="text" value="0,35 %" class="input-f" />
    <input type="text" value="Capitalisation" class="input-g" />
    <input type="text" value="562,2 M€" class="input-h" />

    <mat-icon class="icon-1" (click)="gotoObjectif()">keyboard_arrow_right</mat-icon>
    <mat-icon class="icon-2" (click)="gotoHistoriqueNav()">keyboard_arrow_right</mat-icon>
    <mat-icon class="icon-3">keyboard_arrow_right</mat-icon>
  </div>
</body>

</html>
