<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    i
  </p>
  <div class="iconMenuAll">
    <a (click)="returnToMenu()" href="" data-toggle="collapse" style="color: white">
      <mat-icon class="icon-preccedent">menu</mat-icon>
    </a>
  </div>
  <input type="text" value="200 000 €" class="replaceInput1">
  <input type="text" value="En Capital" class="replaceInput2">
  <input type="text" value="100 000 €" class="replaceInput3">
  <input type="text" value="Montants réguliers" class="replaceInput4">
  <input type="text" value="75 000 €" class="replaceInput5">
  <input type="text" value="Rente Viagère" class="replaceInput6">
  <input type="text" value="200 000 €" class="replaceInput7">
  <input type="text" value="Quel est votre montant en euros ?" class="replaceInput8">
  <input type="text" value="200.000" class="replaceInput9">
  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToRachatGraphe1()">Valider</button>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToDispositif()"><b>Importer</b></a>
  </div>


</div>
</body>
</html>

