input {
    position: fixed;
    background-color: transparent;
    color: black;
    font-weight: 500;
    border: none;
  } 
  
  .input-a {
    font-weight: 500 !important;
    font-size: 23px;
    color: #7f3776;
  }
  .input-b {
    margin-top: 29px;
    color: #85c8ec;
    font-weight: 400 !important;
  }
  .input-c {
    margin-top: 29px;
    margin-left: 85px;
    font-weight: 400 !important;
    color: #7f3776;
  }
  .input-d {
    margin-top: 50px;
    margin-left: 23px;
    color: #7f3776;
  }
  .input-e {
    margin-top: 5px;
    margin-left: 293px;
    font-weight: 400 !important;
  }
  .input-f {
    margin-top: 27px;
    margin-left: 255px;
    font-weight: 400 !important;
    color: #85c8ec;
  }
  .input-g {
    margin-top: 27px;
    margin-left: 325px;
    font-weight: 400 !important;
    color: #7f3776;
  }
  .input-h {
    margin-top: 50px;
    margin-left: 280px;
    font-weight: 400 !important;
    color: #85c8ec;
  }
  .input-i {
    margin-top: 50px;
    margin-left: 340px;
    font-weight: 400 !important;
    color: #7f3776;
  }
  .icon-1 {
    position: fixed;
    color: #85c8ec;
    margin-top: 22px;
    margin-left: 360px;
    background-color: transparent;
    font-size: 40px;
  }