<div>
  <input type="text" [value]="details[0]" class="input-a"/>
  <input type="text" [value]="details[1]" class="input-b"/>
  <input type="text" [value]="details[2]" class="input-c"/>
  <input type="text" [value]="details[3]" class="input-d"/>
  <input type="text" [value]="details[4]" class="input-e" [ngStyle]="{'color':myColor}"/>
  <input type="text" [value]="details[5]" class="input-f"/>
  <input type="text" [value]="details[6]" class="input-g"/>
  <input type="text" [value]="details[7]" class="input-h"/>
  <input type="text" [value]="details[8]" class="input-i"/>
  <mat-icon class="icon-1" (click)="gotoDispositifsDetails()">keyboard_arrow_right</mat-icon>
</div>