<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <h3 class="question">Question 1/5</h3>
  <h6 class="projectTitle">
    Pour épargner vous programmez des versements réguliers?
  </h6>
  <div class="replaceDiv1">
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge2()">Si mon compte est toujours créditeur</button>
    <!--<input class="input" value="Si mon compte est"><br>
    <input class="input" value="">-->
  </div>
  <div class="replaceDiv2">
    <!--<input class="input" value="A la saint Glinglin">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge2()">A la saint Glinglin</button>
  </div>
  <div class="replaceDiv3">
    <!--<input class="input" value="Si mon découvert"><br>
    <input class="input" value="n'est pas trop"><br>
    <input class="input" value="élevé">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge2()">Si mon découvert n'est pas trop élevé</button>
  </div>
  <div class="replaceDiv4">
    <!--<input class="input" value="Quand j'y pense...">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge2()">Quand j'y pense...</button>
  </div>
  <!--<mat-radio-group>
    <div class="replaceRadio1">
      <mat-radio-button value="1"></mat-radio-button>
    </div>
    <div class="replaceRadio2">
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="replaceRadio3">
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="replaceRadio4">
      <mat-radio-button value="4"></mat-radio-button>
    </div>
  </mat-radio-group>-->
  <!--<div class="replaceRadio1">
    <input type="radio" name="tag1" value="1">
  </div>-->
  <!--<div class="replaceRadio2">
    <input type="radio" name="tag1" value="2">
  </div>-->
  <!--<div class="replaceRadio3">
    <input type="radio" name="tag1" value="3">
  </div>-->
  <!--<div class="replaceRadio4">
    <input type="radio" name="tag1" value="4">
  </div>-->
  <!--<div class="timer">{{timeLeft}}<mat-icon>alarm</mat-icon></div>-->
</div>
</body>
</html>

