<!DOCTYPE html>
<html lang="en">

<head>
  <title>epargneMenu</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width: 30%;
      height: 790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>

<body>
<div id="demo" class="container my-background">
  <mat-icon class="icon-back" (click)="goBack()">keyboard_backspace</mat-icon>

  <input type="text" value="Objectif d'investissement" class="input_1"/>
  <input type="text" value="18 Dec" class="input_2"/>
  <input type="text" value="3500,00 €" class="input_3"/>
  <input type="text" value="Code ISIN : FR0010270033" class="input_4"/>
  <input type="text" value="Horizon : 8 ans" class="input_5"/>
  <input type="text" value="Risque : 5/7" class="input_6"/>
</div>
</body>

</html>
