<!DOCTYPE html>
<html lang="en">

<head>
  <title>epargneMenu</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width: 30%;
      height: 805px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>

<body>
<div id="demo" class="my-background">
  <mat-icon class="icon-back" (click)="goBack()">keyboard_backspace</mat-icon>
  <input value="Methode de paiement " class="robot">
  <div class="container">
    <div class="replacePrudent">
      <label class="container">
        <input type="radio" name="legende" checked>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div *ngIf="paymentType == 'maestro'">
    <div class="my-heading-1">Maestro card</div>
    <img class="maestro" src="maestro1.png " width="50" height="40">
    <mat-form-field class="card-number">
      <mat-label class="my-label">Card number</mat-label>
      <input matInput value="**** **** **** 4448" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="expiration-date">
      <mat-label>Expiration Date</mat-label>
      <input matInput class="my-label" value="04/22" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="security-code">
      <mat-label class="my-label">Security Code</mat-label>
      <input matInput type="password" maxlength="3">
    </mat-form-field>
  </div>

  <div *ngIf="paymentType == 'mastercard'">
    <div class="my-heading-1">Master card</div>
    <img class="mastercard" src="mastercard-512.png" width="60" height="40">
    <mat-form-field class="card-number">
      <mat-label>Card number</mat-label>
      <input matInput class="my-label" value="**** **** **** 4449" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="expiration-date">
      <mat-label>Expiration Date</mat-label>
      <input matInput class="my-label" value="03/22" disabled class="text-white">
    </mat-form-field>
    <mat-form-field class="security-code">
      <mat-label class="my-label">Security Code</mat-label>
      <input matInput type="password" maxlength="3">
    </mat-form-field>
  </div>

  <div *ngIf="paymentType == 'creditcard'">
    <div class="my-heading-1">Credit card</div>
    <img class="creditcard" src="credit-card.png" width="60" height="40">
    <mat-form-field class="card-number">
      <mat-label class="my-label">Card number</mat-label>
      <input matInput [(ngModel)]="ccNumber" type="text" (keyup)="validateCCNumber($event)" maxlength="19">
    </mat-form-field>
    <mat-form-field class="expiration-date">
      <mat-label class="my-label">Expiration Date</mat-label>
      <input matInput [(ngModel)]="expiryDate" type="text" (keyup)="validateExpiryDate($event)" maxlength="5">
    </mat-form-field>
    <mat-form-field class="security-code">
      <mat-label class="my-label">Security Code</mat-label>
      <input matInput type="password" maxlength="3">
    </mat-form-field>
  </div>
  <button class="btn btn-block my-btn" data-toggle="modal" data-target="#Modal">Pay {{formatAmount(amount)}} €</button>

  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToRachat()"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #7f3776" (click)="goToVersementPonctuel()"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToDispositif()"><b>Importer</b></a>
  </div>

  <div ngDraggable class="modal fade dialogWidth" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" class="modal-dialog modal-dialog-centered"  role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #7a3978;cursor:move;" >
          <h5 class="modal-title" id="AddModalLabel" style="color: white">
            Opération verser</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <h4 style="color: #85c8ec">Opération éffectuée avec succès</h4>
            <button class="btn btn-info btn-lg btn-block buttonLancementA" data-dismiss="modal"
                    (click)="goToVersementPonctuel5()">
              Parfait
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
