<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class=" my-background-project">
  <a (click)="returnToRachatGraphe1()" href="" data-toggle="collapse">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <p class="my-paragraphe1">
    i
  </p>
  <div class="replaceDiv1">{{oCapitalValue}} €</div>
  <div class="replaceDiv2">Capital à toucher<br> immédiatement</div>
  <div class="replaceDiv3">Montant en €</div>
  <input type="text" [(ngModel)]="oMontant" class="replaceInput1" id="idMontant" (keyup)="formatMontant($event)">
  <div *ngIf="!isMontantValid()" class="alert alert-danger replaceError1" >Montant saisi incoherent </div>
  <div class="replaceDiv4">Capital distribué en rentes</div>
  <div class="replaceDiv5">Rente viagère</div>
  <input type="text" [(ngModel)]="oRenteViagere" class="replaceInput_2" (keyup)="formatRenteViagere($event)">
  <div *ngIf=" isMontantValid() && !isRenteViagereValid()" class="alert alert-danger replaceError2" >Rente viagère incoherente</div>
 <!-- <input type="text" value="75  %" class="replaceInput2">-->
  <div class="replaceInput2" *ngIf="isRenteViagereValid()">{{pourcentageViagere}} %</div>
  <!--<input type="text" value="280  €/mois" class="replaceInput3">-->
  <div class="replaceInput3" *ngIf="isRenteViagereGiven()">280  €/mois</div>
  <div class="replaceDiv6">Rente financière</div>
  <input type="text" [(ngModel)]="oRenteFinanciere" class="replaceInput_3" (keyup)="formatRenteFinanciere($event)">
  <div *ngIf="isMontantValid() && !isRenteFinanciereValid()" class="alert alert-danger replaceError3" >Rente financière incoherente</div>
  <!--<input type="text" value="25  %" class="replaceInput4">-->
  <div class="replaceInput4" *ngIf="isRenteFinanciereValid()">{{pourcentageFinancier}} %</div>
<!--  <input type="text" value="1000  €/mois" class="replaceInput5">-->
  <div class="replaceInput5" *ngIf="isRenteFinanciereGiven()">1000  €/mois</div>
<!--  <input type="text" value="sur 160 mois" class="replaceInput6">-->
  <div class="replaceInput6" *ngIf="isRenteFinanciereGiven()">sur 160 mois</div>
  <button class="btn btn-info btn-lg btn-block buttonGo" (click)="goToRachatGraphe3()">C'est bien ça!</button>
  <!--<div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Lister</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #85c8ec"><b>Importer</b></a>
  </div>-->


</div>
</body>
</html>

