<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">

  <a (click)="goToMenu()" href="" data-toggle="collapse" class="iconMenuColor">
    <mat-icon class="my-menu-icon">menu</mat-icon>
  </a>
  <mat-icon (click)="navigateToOnBoard3()" class="my-clear-icon">clear</mat-icon>
  <div class="my-button-group d-flex justify-content-center">
    <button class="btn btn1 btn-info btn-lg" (click)="goToVersement()">
      <img src="euro.png" class="button-image"/><br/>
      Je veux faire un versement
    </button>
    <button class="btn btn2 btn-info btn-lg" (click)="goToImporter()">
      <img src="arrows.png" class="button-image"/><br/>
      Je veux importer
    </button>
  </div>
</div>
</body>
</html>

