.my-background-lancement{
  background-image: url('../shared/images/lancementA.png');
  color: white;
  background-size: cover;
}
.smallRect-img{
  background-image: url("../shared/images/rectangleSmall.png");
  background-repeat: no-repeat;
}
.smallRect{
  right: 0px;
  margin-left: 390px;
}
.bigRect-img{
  background-image: url("../shared/images/rectangleBig.png");
  background-repeat: no-repeat;
}
.yeux-img{
  background-image: url("../shared/images/yeux.png");
  background-repeat: no-repeat;
}
.bigRect{
  margin-left: 50px;
}
.alignement{
  float: left;
  float: right;
}
.yeux{
  padding-top: 40px;
  margin-left: 40px;
}
.my-title{
  background-image: url('../shared/images/logo.png');
  background-repeat: no-repeat;
  position: center;
  margin-left: 85pt;
}
.my-h3-login{
  position: center;
  width: 278pt;
  height: 20.5pt;
  padding-left: 100pt;
  padding-top: 50pt;
}
.paragraphe{
  position: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}
.buttonLancementA {
  position: center;
  background-color: #85c8ec;
  border-radius: 4pt;
  width: 172.5pt;
  margin-top: 300pt;
  margin-left: 65pt;
  height: 45pt;
}
.my-lynk{
  position: center;
  padding-left: 180px;
  color: white;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.example-full-width {
  width: 100%;
}
.my-label{
  color: #85c8ec;
}
.my-printFinger{
  background-image: url('../shared/images/touchId.png');
  background-repeat: no-repeat;
  margin-left: 130pt;
  margin-top: 10pt;
}
.icon-menu{
  margin-top: 25pt;
}
.robot {
  border: 0;
  font-family: Roboto;
  font-size: 12pt;
  background: transparent;
  margin-left: 70px;
  margin-top: 50px;
  width: 100%;
}
.robot2 {
  font-family: Roboto;
  font-size: 12pt;
  border: 0;
  background: transparent;
  margin-left: 70px;
  width: 100%;
}
