<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;

    }
  </style>
</head>
<body>

<div id="demo" class="container my-background-lancement">
  <!--<a (click)="afficheMenu()">
    <mat-icon class="icon-menu">menu</mat-icon>
  </a>-->

    <input value="Bonjour," class="robot">
    <input value="Je suis votre assistant." class="robot2">
    <!--<input value="assistant." class="robot2">-->

  <h6>
    <input value="Je vais vous accompagner pendant" class="robot2">
    <input value="10 minutes." class="robot2">
  </h6>
 <!-- <div class="yeux">
    <img src="yeux.png">
  </div>
  <div style="width: 500px">
    <div style="float: left; width: 300px;" class="bigRect">
      <img src="rectangleBig.png">
    </div>
    <div style="float: right; width: 100px ">
      <img src="rectangleSmall.png" >
    </div>
  </div>
-->

  <button class="btn btn-info btn-lg btn-block buttonLancementA" (click)="goToLancementB()">Suivant</button>
</div>
</body>
</html>
