<!DOCTYPE html>
<html lang="en">

<head>
  <title>epargneMenu</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width: 30%;
      height: 790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>

<body>
  <div id="demo" class="container my-background-epargne">
    <mat-icon class="my-menu-icon" (click)="gotoMenu()">menu</mat-icon>
    <div class="active-link">
      <a [routerLink]="" (click)="doNothing()">Synthèse</a>
    </div>
    <div class="inactive-link">
      <a [routerLink]="" (click)="gotoDispositifs()">Dispositifs</a>
    </div>
    <div class="inactive-link menu3">
      <a href="#">Produits</a>
    </div>

    <div class="replaceSelected selected-separator">
      <select class="selected">
        <option value="dat1">au 04/02/2019</option>
        <option value="dat2">au 14/03/2019</option>
        <option value="date3">au 01/04/2019</option>
      </select>
    </div>
    <div class="my-input-boxes">
      <input type="text" class="input-1a" value="PERCO 1" />
      <input type="text" class="input-1b" value="3 543,75 €" />
      <input type="text" class="input-2a" value="PERCO 2" style="color: #f6c345;"/>
      <input type="text" class="input-2b" value="2 531,25 €" style="color: #f6c345;"/>
      <input type="text" class="input-3a" value="Art. 83 A" />
      <input type="text" class="input-3b" value="3 543,75 €" />
      <input type="text" class="input-4a" value="Art. 83 B" />
      <input type="text" class="input-4b" value="506,25 €" />
    </div>
  </div>
</body>

</html>
