<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width: 30%;
      height: 790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>

<body>
  <div id="demo" class="container my-background-project">
    <mat-icon class="my-menu-icon">menu</mat-icon>
    <div class="my-heading">Racheter</div>
    <div class="my-card-text">Veuillez indiquer votre identifiant client</div>
    <div class="my-sub-heading">Saisir mon opération</div>
    <mat-form-field class="user-input">
    <mat-label class="my-label-adresse">À définir...</mat-label>
      <input matInput>
    </mat-form-field>
    <button class="btn my-btn btn-lg">Suivant</button>
  </div>
  
</body>

</html>