.my-background-data{
  background-image: url('../shared/images/donneesPerso.png');
  color: white;
  background-size: cover;
}
.buttonData{
  position: center;
  background-color: #85c8ec;
  border-radius: 4pt;
  width: 172.5pt;
  margin-top: 10pt;
  margin-left: 70pt;
  height: 45pt;
}
.icon-preccedent{
  margin-top: 25pt;
}
.h3-data{
  text-align: center;
  font-family: Roboto;
  width: 278pt;
  height: 20.5pt;
  padding-top: 100pt;
  padding-left: 45px;
}

.example-form-data {
  width: 90%;
  margin-right: 15px;
  margin-left: 20px;
}
.example-full-width-data {
  width: 100%;
}
.my-label-data{
  color: #85c8ec;
}
.mat-form-field {
  margin-right: 12px;
}
.robot {
  border: 0;
  font-family: Roboto;
  font-size: 12pt;
  background: transparent;
  margin-left: 70px;
  margin-top: 60px;
  width: 100%;
}
.robot2 {
  font-family: Roboto;
  font-size: 12pt;
  border: 0;
  background: transparent;
  margin-left: 70px;
  width: 100%;
}
::ng-deep .mat-form-field-underline {

  background-color: #85c8ec!important;

}
::ng-deep .mat-datepicker-toggle-default-icon {

  color: #85c8ec!important;

}
