<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:820px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <!--<a (click)="returnToMyProjet()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>-->
  <p class="my-paragraphe1">
    i
  </p>
  <div class="iconMenuAll">
    <a (click)="returnToMenu()" href="" data-toggle="collapse" style="color: white">
      <mat-icon class="icon-preccedent">menu</mat-icon>
    </a>
  </div>
  <p class="robot">
    <b>Voilà c'est fait!</b><br>
    Nous allons effectuer <b>le transfert de</b><br>
    <b>l'intégralité de vos avoirs au plus vite.</b><br>
    Vous pouvez visualiser <b style="text-decoration: underline">Une copie du<br>courrier</b>.
  </p>
  <p class="resume">
    En fonction du teneur de compte, le transfert peut prendre entre 15 jours et 2 mois.
    Ne vous inquiétez pas, nous vous tiendrons informé de l'avancement de votre dossier.
  </p>


  <button class="btn btn-info btn-lg btn-block buttonGo" data-toggle="modal" data-target="#Modal">Bien compris</button>
  <div class="replaceRachat">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToRachat()"><b>Racheter</b></a>
  </div>
  <div class="replaceVerser">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToVerser()"><b>Verser</b></a>
  </div>
  <div class="replaceLister">
    <a href="" data-toggle="collapse" style="color: #85c8ec" (click)="goToLister()"><b>Historique</b></a>
  </div>
  <div class="replaceTransferer">
    <a href="" data-toggle="collapse" style="color: #7f3776"><b>Importer</b></a>
  </div>

  <div ngDraggable class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" class="modal-dialog modal-dialog-centered"  role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #7a3978;cursor:move;" >
          <h5 class="modal-title" id="AddModalLabel" style="color: white">
            Importer un dispositif</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <h4 style="color: #85c8ec">Opération éffectuée avec succès</h4>
            <button class="btn btn-info" data-dismiss="modal"
                    (click)="returnToMenu()">
              Parfait
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>


