<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <style>
    #demo {
      width:30%;
      height:790px;
      margin-top: 20px;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="demo" class="container my-background-project">
  <a (click)="returnToKnowledge2()">
    <mat-icon class="icon-preccedent">keyboard_backspace</mat-icon>
  </a>
  <h3 class="question">Question 3/5</h3>
  <h6 class="projectTitle">
    De quoi veut profiter un investisseur en actions ?
  </h6>
  <div class="replaceDiv1">
    <!--<input class="input" value="De la croissance"><br>
    <input class="input" value="économique">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge4()">De la croissance économique</button>
  </div>
  <div class="replaceDiv2">
    <!--<input class="input" value="Des erreurs des autres "><br>
    <input class="input" value="épargnants">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge4()">Des erreurs des autres épargnants</button>
  </div>
  <div class="replaceDiv3">
    <!--<input class="input" value="Des possibilités de"><br>
    <input class="input" value="gains illimités">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge4()">Des possibilités de gains illimités</button>
  </div>
  <div class="replaceDiv4">
    <!--<input class="input" value="De la garantie de"><br>
    <input class="input" value="capital">-->
    <button class="btn btn-outline-info btn1" (click)="goToKnowledge4()">De la garantie de capital</button>
  </div>
  <!--<mat-radio-group>
    <div class="replaceRadio1">
      <mat-radio-button value="1"></mat-radio-button>
    </div>
    <div class="replaceRadio2">
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="replaceRadio3">
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="replaceRadio4">
      <mat-radio-button value="4"></mat-radio-button>
    </div>
  </mat-radio-group>-->
 <!-- <div class="replaceRadio1">
    <input type="radio" name="tag3" value="1">
  </div>
  <div class="replaceRadio2">
    <input type="radio" name="tag3" value="2">
  </div>
  <div class="replaceRadio3">
    <input type="radio" name="tag3" value="3">
  </div>
  <div class="replaceRadio4">
    <input type="radio" name="tag3" value="4">
  </div>-->
  <!--<div class="timer">{{timeLeft}}<mat-icon>alarm</mat-icon></div>-->
</div>
</body>
</html>

